<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-10-09 19:34:23
 * @LastEditTime: 2019-10-09 19:34:23
 * @LastEditors: your name
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    li{
      width: 100%;
      height: 60px;
      cursor: pointer;
      background: red;
      margin: 10px;
    }
    .active {
      background: red;
      color:#fff;
    }
  </style>
</head>
<body>
  
  <div id="app">
     {{ count }} : {{ msg }}
    <ul :msg="msg" v-show="isShowUl">
       <!-- <li v-bind:title="msg" v-for="item in list"> {{item.test}}  </li> -->
       <!-- <li v-on:click="showIndexClick" :title="msg" v-for="item in list"> {{item.test}}  </li> -->
       <li @click="showIndexClick(index)" :title="msg" v-for="(item, index) in list"> {{item.test}}  </li>
     </ul>
     <!-- <ol v-show="isShowUl">
       <li>我是else的产物</li>
     </ol> -->

      

     <!-- <button @click="showMsg"  :class="isActive">点击显示隐藏</button> -->
     <!-- <button @click="showMsg"  :class="{active: showActive}">点击显示隐藏</button> -->
     <button @click="showMsg"  :class="[activeClass,errorClass]">点击显示隐藏</button>
     <hr>

     <input type="text" v-model="msg"><br>

     {{msg}}
     <hr>
     {{showMessage}}

  </div>

  <script src="../libs/vue.js"></script>
  <script>
    /*
     指令：
       1. 循环 v-for="item in list"   {{item.test}}
       2. 动态绑定指令 v-bind  简写形式： : 变量
       3. 事件指令：v-on:事件名   简写形式： @click/
       4. 条件判断：v-if  v-else
       5. 显示隐藏 v-show  (display:block/none)
       6. v-model  input 双向数据绑定功能  单选框 复选框 下拉框

       class绑定 三种方法：
        1.字符串 "变量"
        2.对象  "{类名：变量}"
        3.数组  "[变量，变量，变量]"
         
    */
       const vm = new Vue({
        el: '#app',
        // 数据  函数形式
        data() {
          return {
            activeClass: 'active',
            errorClass: 'error',
            showActive: false,
            isActive: 'active',
            // 声明变量 数组  
            count: 1,
            isShowUl: true,
            msg: 'hello world',
            list: [
              {
                test: "hello vue1"
              },
              {
                test: "hello vue2"
              }
            ],
            tabList: [
              {
                title: '中国香港'
              },
              {
                title: '中国香港'
              },
              {
                title: '中国香港'
              }
            ]
          }
        },
        // 计算属性  凡是计算逻辑一般都放在下面 具有缓存功能
        computed: { // 在这个地方定义函数/方法
          showMessage() {
            return this.count + 1
          }
        },
        // 方法：
        methods: {
          showIndexClick(index) {
            console.log(index)
          },
          showMsg() {
            // this.isShowUl = !this.isShowUl
            this.showActive = !this.showActive
          }
        },
       })

  
  
  </script>
</body>
</html>